.btn.btn-primary{
    background-color: #F76D66;
    border: #F76D66 1px solid;
}

.btn.btn-secondary{
    background-color: #FFFFFF;
    border: #595c88 1px solid;
    color: black;
}
div.headline {
    text-align: center;
    width: 100%;
}